<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="Poems and prose by Hillary Keel Strohmeier">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="https://use.typekit.net/nra2opf.css">
</head>
<body>
  <header>
    <h1 class="poem-page site-title"><a href="/">Hillary Keel | Writing</a></h1>
  </header>
  <main>
    <h2 class="poem-title">{{ title }}</h2>
    {{ content | safe }}
  </main>
  <footer class="nav"><p class="nav-item">© Hillary Keel Strohmeier</p></footer>
</body>
</html>