<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <header>
    <h1><a style="color:rgba(51, 51, 51,0.3);text-decoration:none;font-variant:small-caps;padding-left:0.6em;" href="/">Hillary Keel Strohmeier</a></h1>
  </header>
  <main>
    <h2 class="poem-title">{{ title }}</h2>
    {{ content | safe }}
  </main>
  <footer class="nav"><p class="nav-item">© Hillary Keel Strohmeier</p></footer>
</body>
</html>