:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --display-font: 'winco', var(--system-ui);
}

/* Theme colors */
:root {
  --color-gray-20: #cccce0;
  /* --color-gray-50: rgba(7, 54, 66,0.4); */
  --color-gray-50: #666;
  /* --color-gray-90: #073642; */
  --color-gray-90:#191975;
  --color-blackish: #006;

  --header-background-color: #f5f5f5;
  --background-color: #fcfff1;

  --text-color: var(--color-gray-90);
  --text-color-link: rgb(10, 158, 196);
  --text-color-link-visited: var(--color-gray-90);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

h2 {
  font-size: 1.65em;
}


p {
  font-family: var(--system-ui);
  /* background-color: transparent; */
}

h2,h3 {
  font-weight:400;
  font-variant: all-petite-caps;
}

h2.poem-title {
  font-size: 1.5em;
  color: var(--color-blackish);
  font-family: var(--display-font);
}

html,
body {
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: var(--system-ui);
  color: var(--text-color);
  background-color: var(--background-color);
}

p,
.menu ul li p {
  font-weight:300;
  line-height: 1.45;
}

p a {color: var(--text-color-link)}

p b {
  /* font-weight:400; */
  text-rendering: optimizeLegibility;
}

main {
  padding: 1em;
  margin: 0 auto;
  max-width: 37.5em;
  padding-bottom: 5em;
}

/* Header */

header {
  border-bottom: 1px ridge var(--color-gray-20);
  background-color: var(--header-background-color);
  position:relative;
  z-index: 6;
}

.site-title {
  display:inline-block;
  font-family: var(--display-font);
  font-size:2em;
  font-weight: 400;
  font-variant: all-small-caps;
  margin: 0 0.6em 0;
  padding: 0.15em;
  line-height: 1.5em;
  color: var(--color-blackish);

}

h1.poem-page a {
  color: var(--color-gray-50);
  text-decoration:none;
}

h1.poem-page a:hover {
  color: var(--color-blackish);
  text-decoration:underline;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

/* Home page TOC */

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  line-height: 1.3;
}

.menu li p {
  text-indent: 2em;
}

 .menu li a {
  color: var(--color-blackish);
  font-family: var(--display-font);
  text-decoration: none;
  font-style: normal;
  font-variant: all-small-caps;
  font-size: 1.5em;
  font-weight: 400;
  /* line-height: 1.2em; */
 }

 .menu li a:hover {
  color: var(--color-gray-50);
 }

 .menu li a:visited {
  color: var(--color-blackish);
 }

.menu li a[href].poem-link:hover {
  color: var(--color-gray-50);
}

hr {
    border: none;
    border-top: 3px double var(--color-gray-20);
    color: var(--color-gray-20);
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
  background-color: var(--background-color);
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

footer {
  position:absolute;
  width:100%;
  bottom: 0;
  left: 0;
  background-color: var(--header-background-color);
  border-top: 1px ridge var(--color-gray-20);
}
footer p {
  text-align: center;
  margin: 0 auto;
  padding: 0.8em;
}